

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle>Fecha</mat-card-subtitle>
      <mat-card-title>Titulo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Texto de la nota</p>
      <p>cambiar</p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
        <mat-form-field appearance="fill">
            <mat-label>Estado de la ta</mat-label>
            <mat-select [(value)]="selected">
              <mat-option value="option2">En proceso</mat-option>
              <mat-option value="option3">Terminada</mat-option>
            </mat-select>
          </mat-form-field>
    </mat-card-actions>
    <mat-card-footer>
      <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
    </mat-card-footer>
  </mat-card>
  <div>
    <app-tasklist></app-tasklist>
  </div>