<p>
  <mat-toolbar>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Todo Notes</span>
    <div class="btn-container">
      <button type="button" class="btn btn-primary m-3">Add task</button>
    </div>
  </mat-toolbar>
</p>

<div class="container" id="tasks-container">
  <div *ngFor="let task of tasks">
    <div class="row">
      <div class="col-md-6 col-xl-3">
        <div class="card m-b-30">
          <div class="card-body row">
            <div class="col-12 card-title align-self-center mb-0">
              <h3>{{ task.eta | date }}</h3>
              <p class="m-0">{{ task.title }}</p>
            </div>
          </div>
          <div class="m-0 col-12">
            {{ task.description }}
          </div>
          <div class="card-body">
            <div class="float-right btn-group btn-group-sm">
              <a
                href="#"
                class="btn btn-primary tooltips"
                data-placement="top"
                data-toggle="tooltip"
                data-original-title="Edit"
                ><i class="fa fa-pencil"></i>
              </a>
              <a
                href="#"
                class="btn btn-secondary tooltips"
                data-placement="top"
                data-toggle="tooltip"
                data-original-title="Delete"
                ><i class="fa fa-times"></i
              ></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- add task modal  -->
  <div class="modal fade" id="addtaskmodal" tabindex="-1" role="dialog"></div>

  <!-- delete task modal  -->
  <div
    class="modal fade"
    id="deletetaskmodal"
    tabindex="-1"
    role="dialog"
  ></div>

  <!-- edit task modal  -->
  <div class="modal fade" id="edittaskmodal" tabindex="-1" role="dialog"></div>

  <!-- Notification for not note -->
  <div class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">There are not notes</h4>
      <p>Task not found.</p>
    </div>
  </div>
</div>
